<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Job Board HTML-5 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <link rel="stylesheet" href="/assets/css/price_rangs.css">
    <link rel="stylesheet" href="/assets/css/slicknav.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/nice-select.css">
    <link rel="stylesheet" href="/assets/css/style.css">


    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles2.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>


    <!-- Supernote CSS -->
    <link th:rel="stylesheet" type="text/css" media="all" th:href="@{/summernote/summernote-lite.min.css}"/>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>

<!-- HEADER -->
<div th:insert="~{fragments/header :: header}"></div>
<!-- HEADER ENDED -->


<!--NAVBAR  for logged user  ---   START HERE-->
<header>
    <!-- Header Start -->
    <div class="header-area header-transparrent">
        <div class="headder-top header-sticky">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-9 col-md-9">
                        <div class="menu-wrapper">
                            <!-- Main-menu -->
                            <div class="main-menu">
                                <nav class="d-none d-lg-block">
                                    <ul id="navigation">
                                        <li sec:authorize="hasAuthority('Job Seeker')"><a class="nav-link"
                                                                                          th:href="@{/job-listing}"><i
                                                class="fas fa-search"></i> Search for Jobs</a></li>
                                        <li sec:authorize="hasAuthority('Job Seeker')"><a class="nav-link"
                                                                                          th:href="@{/job-seeker/job-seeker-profile/}"><i
                                                class="fa-solid fa-pencil"></i> Edit Profile</a></li>
                                        <li sec:authorize="hasAuthority('Recruiter')"><a class="nav-link"
                                                                                         th:href="@{/dashboard/add}"><i
                                                class="fa-solid fa-file-circle-plus"></i> Post New Job</a></li>
                                        <li sec:authorize="hasAuthority('Recruiter')"><a class="nav-link"
                                                                                         th:href="@{/dashboard/}"><i
                                                class="fa-solid fa-eye"></i>View Your Posted Jobs</a></li>
                                        <li sec:authorize="hasAuthority('Recruiter')"><a class="nav-link"
                                                                                         th:href="@{/recruiter/recruiter-profile/}"><i
                                                class="fa-solid fa-pencil"></i> Edit Job Seeker Profile</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn head-btn2 header-btn f-right d-lg-block" onclick="window.location.href='/logout'">Logout
        </button>

    </div>
    <!-- Header End -->
</header>
<!--NAVBAR  for logged user  ---   ENDED HERE-->


<h2 th:text="${jobPostActivity.jobOfferPostId} == null ? 'Add Job Form' : 'Edit Job Form'"></h2>


<div class="col-md-7 container myForm">
    <form id="job-main-form"
          th:action="${jobPostActivity.jobOfferPostId} == null ? @{/dashboard/addNew} : @{/dashboard/edit/{id}(id=${jobPostActivity.jobOfferPostId})}"
          th:object="${jobPostActivity}" method="post" class="job-add-form">

        <input hidden type="text" th:field="*{jobOfferPostId}">
        <input hidden type="text" th:field="*{postedDate}">
        <input hidden type="text" th:field="*{industryForm.id}">

        <input type="hidden" th:field="*{postedById}" th:value="${userAccountId}">

        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex justify-content-center pt-3">
                    <h1 class="heading_font font-weight-bold"
                        th:text="${jobPostActivity.jobOfferPostId} == null ? 'Post New Job' : 'Edit Job'"></h1>
                </div>
            </div>
        </div>

        <label class="heading_font font_sub_heading_color">Job Details</label>
        <div class="row">
            <div class="col-lg-12 form-group">
                <input id="title" type="text" th:field="*{jobTitle}" class="form-control" placeholder="Job Title"
                       required>
            </div>
        </div>

        <div class="col-md-4 form-group">
            <label for="industryForm">Select Industry:</label>
            <select id="industryForm" name="industryFormId" class="form-control"
                    th:disabled="${jobPostActivity.jobOfferPostId != null}" required>
                <option value="">Select Industry</option>
                <th:block th:each="industryForm : ${industries}">
                    <option th:value="${industryForm.id}" th:text="${industryForm.formName}"
                            th:selected="${industryForm.id == jobPostActivity.industryForm.id}"></option>
                </th:block>
            </select>
            <input type="hidden" name="industryFormId" th:value="${jobPostActivity.industryForm.id}">
        </div>

        <div id="qualificationQuestions"></div>

        <button id="copyToDescriptionBtn" class="btn btn-primary mt-3">Copy Qualifications to Description</button>

        <div class="row">
            <div class="col-md-4 form-group">
                <select id="type" th:field="*{jobType}" class="form-control" required>
                    <option value="">Employment Type</option>
                    <option th:value="Full-time">Full-time</option>
                    <option th:value="Part-time">Part-time</option>
                    <option th:value="Freelance">Freelance</option>
                    <option th:value="Internship">Internship</option>
                </select>
            </div>
            <div class="col-md-4 form-group">
                <input id="salary" th:field="*{salary}" type="text" class="form-control" placeholder="Salary" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label class="mt-2 heading_font font_sub_heading_color">Description</label>
                <textarea type="text" rows="4" id="content" placeholder="Content" class="form-control"
                          th:field="*{descriptionOfJob}" autocomplete="off" required></textarea>
            </div>
        </div>

        <label class="mt-2 heading_font font_sub_heading_color">Location</label>
        <div class="row">
            <div class="col-md-4 form-group">
                <input th:field="*{city}" id="city" type="text" class="form-control" placeholder="City" required>
            </div>
            <div class="col-md-4 form-group">
                <input id="state" th:field="*{postal}" type="text" class="form-control" placeholder="Postal" required>
            </div>
            <div class="col-md-4 form-group">
                <input id="country" th:field="*{country}" type="text" class="form-control" placeholder="Country"
                       required>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col d-flex justify-content-center">
                <button type="submit" name="submit" class="btn btn-primary base_button px-4 py-2 mb-5">Add job offer
                </button>
            </div>
        </div>
    </form>
</div>

</body>

<!--//tutaj sie konczy formularz dodawnaia nowej pracy-->


</div>


<!-- FOOTER -->
<div th:insert="~{fragments/footer :: footer}"></div>
<!-- FOOTER ENDED -->

<!-- JS here -->
<script>
    $(document).ready(function () {


        $('#copyToDescriptionBtn').click(function (event) {

            event.preventDefault();


            var selectedQualifications = [];


            $('.qualification-checkbox:checked').each(function () {
            /
                var questionText = $(this).closest('label').text().trim();


                selectedQualifications.push(questionText);
            });


            if (selectedQualifications.length > 0) {

                var qualificationsText = selectedQualifications.join('<br>');


                var header = '<br><b>WYMAGANE KWALIFIKACJE:</b><br>';


                var finalContent = header + qualificationsText;


                $('#content').summernote('pasteHTML', finalContent);
            }
        });


        $('#industryForm').change(function () {

            var industryFormId = $(this).val();


            if (industryFormId) {

                $.ajax({
                    url: '/dashboard/getQuestions',
                    type: 'GET',
                    data: {industryFormId: industryFormId},

                    success: function (data) {

                        var questionsDiv = $('#qualificationQuestions');

                        questionsDiv.empty();

                        if (data.length > 0) {

                            questionsDiv.append('<br><br><h3>List of Qualifications to add to description</h3>');

                            data.forEach(function (question) {

                                questionsDiv.append('<div class="col-md-7 container myForm">' +
                                    '<li>' +
                                    '<label class="heading_font font_sub_heading_color">' +
                                    '<input type="checkbox" class="qualification-checkbox"> ' +
                                    question.question +
                                    '</label>' +
                                    '</li>' +
                                    '</div>');
                            });
                        }
                    },
                    error: function (error) {
                        console.error('Error fetching questions:', error);
                    }
                });
            }
        });
    });
</script>


<!-- All JS Custom Plugins Link Here here -->
<script src="/./assets/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="/./assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/./assets/js/popper.min.js"></script>
<script src="/./assets/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="/./assets/js/jquery.slicknav.min.js"></script>
<!-- Jquery Slick, Owl-Carousel Plugins -->
<script src="/./assets/js/owl.carousel.min.js"></script>
<script src="/./assets/js/slick.min.js"></script>
<script src="/./assets/js/price_rangs.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="/./assets/js/wow.min.js"></script>
<script src="/./assets/js/animated.headline.js"></script>
<script src="/./assets/js/jquery.magnific-popup.js"></script>
<!-- Scrollup, nice-select, sticky -->
<script src="/./assets/js/jquery.scrollUp.min.js"></script>
<script src="/./assets/js/jquery.nice-select.min.js"></script>
<script src="/./assets/js/jquery.sticky.js"></script>
<!-- contact js -->
<script src="/./assets/js/contact.js"></script>
<script src="/./assets/js/jquery.form.js"></script>
<script src="/./assets/js/jquery.validate.min.js"></script>
<script src="/./assets/js/mail-script.js"></script>
<script src="/./assets/js/jquery.ajaxchimp.min.js"></script>
<!-- Jquery Plugins, main Jquery -->
<script src="/./assets/js/plugins.js"></script>
<script src="/./assets/js/main.js"></script>


<!-- Summernote JS -->
<script type="text/javascript" th:src="@{/summernote/summernote-lite.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>

<!-- Skrypt do Summernote + Formatka -->
<script>
    $(document).ready(function () {
        // Inicjalizacja Summernote
        $('#content').summernote({
            height: 500,
            placeholder: 'Write here...'
        });

        // // Ustawienie wstępnej zawartości w polu 'content'
        // var initialContent = '<b>Ogólne informacje:</b><br><br><b>Stawka:</b><br><br><b>Wymagania:</b><br>';
        // $('#content').summernote('code', initialContent);
    });
</script>


</body>
</html>
