<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Delete Job Confirmation</title>
</head>
<body>
<h2>Are you sure you want to delete this job?</h2>
<div>
    <p>Job Title: <span th:text="${jobPostActivity.jobTitle}"></span></p>
    <p>Posted Date: <span th:text="${jobPostActivity.postedDate}"></span></p>
    <p>Industry: <span th:text="${jobPostActivity.industryForm.formName}"></span></p>
    <!-- Dodaj inne pola do wyświetlenia, jeśli potrzebne -->
</div>
<form th:action="@{/dashboard/delete/{id}(id=${jobPostActivity.jobOfferPostId})}" method="post">
    <button type="submit">Delete</button>
    <a th:href="@{/dashboard/}" class="btn btn-secondary">Cancel</a>
</form>
</body>
</html>